html {
}

body {
  font-size: .89rem;
  font-family: 'soleil', sans-serif;
}

.root {
  h1,h2,h3,h4,h5,h6,p,a,input {
    line-height: 1.2;
  }

  h1 {
    font-size: 1.76rem;
    line-height: 1.2;
  }
  h2{
    font-size: 1.57rem;
    line-height: 1.2;
  }
  h3{
    font-size: 1.4rem;
    line-height: 1.2;
  }
  h4{
    font-size: 1.25rem;
    line-height: 1.2;
  }
  h5{
    font-size: 1.12rem;
    line-height: 1.2;
  }
  h6{
    font-size: 1rem;
    line-height: 1.2;
  }

  h1.displayLg{
    font-size: 1.76rem;
  }
  h1.displayMd{
    font-size: 1.57rem;
  }
  h1.displaySm{
    font-size: 1.4rem;
  }

  p{
    font-size: .89rem;
  }
  p.lead{
    font-size: 1.25rem;
    font-weight: 300;
  }
  p.quote{
    font-weight: 700;
    font-size: .9rem;
  }
  p.small{
    font-size: .8rem;
  }
}

@media all and (max-width: 575px) {
  html {
    font-size: .875rem;
  }
}

@media all and (min-width: 576px) and (max-width: 767px) {
  html {
    font-size: .875rem;
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 1rem;
  }
}

@media all and (min-width: 992px) and (max-width: 1199px) {
  html {
    font-size: 1rem;
  }
}

@media all and (min-width: 1200px) {
  html {
    font-size: 1.06rem;
  }
}