/* Reset start */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
}

.container {
  max-width: none;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 1px;
  margin-right: auto;
  margin-left: auto;
  background: #fff;
}

body {
  font-size: 1rem;
  font-family: 'soleil', sans-serif;
  color: #212121;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  background: #f5f5f5;
}

.tc-black-50 {
  color: rgba(33, 33, 33, 0.50);
}

/* mobile first - outputs a body text of 14px*/

html {
  font-size: .875rem;
}

h1, h2, h3, h4, h5, h6, p, a, input {
  margin-top: 0;
  margin-bottom: .5rem;
}

h1.display {
  font-size: 2rem;
  font-weight: 700;
}

h1 {
  line-height: 1.2;
  font-size: 1.66rem;
}

h2 {
  line-height: 1.2;
  font-size: 1.5rem;
}

h3 {
  line-height: 1.2;
  font-size: 1.4rem;
}

h4 {
  line-height: 1.2;
  font-size: 1.3rem;
}

h5 {
  line-height: 1.2;
  font-size: 1.2rem;
}

h6 {
  line-height: 1.2;
  font-size: 1.1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

p.small {
  font-size: .88rem;
}

@media screen and (max-width: 479px) {
  .container {
    max-width: none;
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media screen and (min-width:576px) {
  .container {
    max-width: 540px;
    padding-right: 32px;
    padding-left: 32px;
  }
}

/* tablet - outputs a body text of 16px */

@media screen and (min-width:768px) {
  .container {
    max-width: 720px;
  }
  html {
    font-size: 1rem;
  }
  h1.display {
    font-size: 3.4rem;
  }
}

/* desktop - outputs a body text of 16px */

@media screen and (min-width:992px) {
  .container {
    max-width: 960px;
  }
}

/* desktop hd - outputs a body text of 16px */

@media screen and (min-width:1200px) {
  .container {
    max-width: 1140px
  }
}
